.wrapper {
    width: 100%;
    height: 200%;
    margin: 0px;
    padding: 0px;
    background: #EEF1F2;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 2px solid violet; */
}

.banner {
    width: 100%;
    height: 520px;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    /* border: 2px solid red; */
}

.banner_img {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
}

.banner_overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.20);
    transition: all 1s ease;
}

.banner_title {
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    font-size: 56px;
    font-family: Nanum Gothic;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 1s ease;
    /* border: 2px solid beige; */
    margin-bottom: 50px;
}

.banner_contents {
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Nanum Gothic;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 1s ease;
    line-height: 1.7;
}

.body{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEF1F2;
    margin-bottom: 40%;
    /* border: 2px solid blue; */
}

.board_wrapper {
    width: 65%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    /* border: 2px solid green; */
    padding: 3% 5% 0% 5%;
}

.board_header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    background-image: linear-gradient(to right,#D3D3D3, #D3D3D3);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0px 0px 1% 0px;
    background-size: 100% 3px;
}

.board_index{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    margin-top: 5%;
    margin-bottom: 5%;
    /* border: 2px solid yellowgreen; */
}

.board_body{
    width: 100%;
    height: auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:2px solid red; */
}

.inquiryForm{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;
    /* border: 2px solid green; */
}

.item{
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid blue; */
    height: 50px;
    margin-top: 2%;
}

.textitem{
    width: 100%;
    height: 330px;
    /* border: 2px solid red; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subitem{
    font-size: 14px;
    font-weight:800;
}

.subitem span{
    color: red;
}

.inputField{
    color: #EAEAEA;
    border-width: 1px;
    border-radius: 5px;
}

.textareaField{
    height: 300px;
    border-width: 1px;
    border-radius: 5px;
}

.submitButton{
    width: 20%;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 80%;
}

.submitButton:hover{
    color: black;
    background-color: white;
    
}