.container{
    width: 100%;
    height: 250px;
}


.footer_call_wrapper{
    width: auto;
    height: 250px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main_image{
    width: 100%;
    height: 250px;
    top :0px;
    position: absolute;
    border: 2px solid blue;/
}

.overlay{
    width: 100%;
    height: 250px;
    top :0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.60);
    transition: all 1.5s ease;
    border: 2px solid blue;
}

.main_text{
    font-size: 32px;
    position: relative;
}

.call_number{
    text-decoration: none;
    color: white;
    border: 2px solid red;
}

.footer_container {
    width: 100%;
    height: 250px;
    padding-left: 10%;
    position: relative;
    background: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 3px solid red; */
    transition: all 1s ease; 
    padding-left: 2%;
}

.footer_text_wrapper {
    /* width: 100%; */
    gap: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 1s ease; 
    /* border: 3px solid green; */
}

.footer_title_logo {
    width: 220px;
    height: 80px;
    transition: all 1s ease; 
    background-image: url('/gittan_logo_gray.svg');
    background-position: center;
    background-size: 100% 100%;
    margin: 10px 0px 15px 0px;
    /* border: 1px solid red; */
}

.footer_content_container{
    /* border: 1px solid red; */
}

.footer_content{
    display: flex;
}

.footer_content div{
    color: #777777;
    font-size: 20px;
    font-family: 'Nanum Gothic';
    font-weight: 400;
    line-height: 160%;
    word-wrap: break-word;
    transition: all 1s ease; 
}

.footer_content div a{
    color: #777777;
}

@media (max-width: 480px) {
    .footer_container {
        height: 100px;
    }
    .footer_title_logo{
        width: 100px;
        height: 25px;
    }

    .footer_content_text{
        font-size: 8px;
    }
    .footer_content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_content div{
        font-size: 8px;
    }
    .footer_text_wrapper {
        gap: 5px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .footer_container {
        height: 150px;
    }

    .footer_title_text{
        font-size: 16px;
    }

    .footer_content_text{
        font-size: 12px;
    }
    .footer_content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_content div{
        font-size: 12px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .footer_container {
        height: 200px;
    }

    .footer_title_text{
        font-size: 20px;
    }

    .footer_content_text{
        font-size: 16px;
    }

    .footer_content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_content div{
        font-size: 16px;
    }
  }