.wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #EEF1F2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid violet; */
}

.banner {
    width: 100%;
    height: 520px;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    /* border: 2px solid red; */
}

.banner_img {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
}

.banner_overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
    transition: all 1s ease;
}

.banner_title {
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    font-size: 56px;
    font-family: Nanum Gothic;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 1s ease;
    /* border: 2px solid beige; */
    margin-bottom: 50px;
}

.banner_contents {
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Nanum Gothic;
    font-weight: 700;
    word-wrap: break-word;
    transition: all 1s ease;
    line-height: 1.7;
}

.body{
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEF1F2;
    /* border: 2px solid blue; */
}

.board_wrapper {
    width: 50%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    /* border: 2px solid green; */
    padding: 3% 5% 0% 5%;
}

.board_header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    background-image: linear-gradient(to right,#D3D3D3, #D3D3D3);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0px 0px 1% 0px;
    background-size: 100% 3px;
}

.board_index{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: gray;
    margin-top: 5%;
    margin-bottom: 5%;
    /* border: 2px solid red; */
}

.board_title_wrapper{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    background-image: linear-gradient(to right,#D3D3D3, #D3D3D3);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0px 0px 10px 0px;
    background-size: 100% 1px;
    margin-bottom: 20px;

}

.board_box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.board_title {
    /* width: 100%; */
    position: relative;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    /* border: 2px solid blue; */
}

.board_footer{
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    background-image: linear-gradient(to right,#D3D3D3, #D3D3D3);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0px 0px 1% 0px;
    background-size: 100% 2px;
}



