/* home.module.css */

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.main_container{

}

.performance_text{
    left: 627px;
    top: 690px;
    position: absolute;
    text-align: center;
    color: #1C1C1C;
    font-size: 30px;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    word-wrap: break-word;
    transition: all 1.5s ease;
}

.flexContainer {
    width: 100%;
    left: 78px;
    top: 788px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 29px;
    display: inline-flex;
  } 

/* CSS for mobile devices */
@media (max-width: 320px) {
    .performance_text{
        font-size: 18px;
    }
}

/* CSS for tablet devices */
@media (min-width: 321px) and (max-width: 980px) {
    .performance_text{
        font-size: 24px;
    }
}

/* CSS for laptop and desktop devices */
@media (min-width: 980px) {
    .performance_text{
        font-size: 30px;
    }
}
